{
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 11,
        "sourceType": "module",
        "ecmaFeatures": {
          "modules": true
        }
    },
    "extends": [ 
        "standard-with-typescript",
        "eslint:recommended"
    ],
    "plugins": [
        "prefer-arrow"
    ],
    "rules": {
        "@typescript-eslint/strict-boolean-expressions": ["error", {"allowSafe":true}],
        "func-style": ["error", "expression"],
        "prefer-arrow/prefer-arrow-functions": [
            "error",
            {
              "disallowPrototype": true,
              "singleReturnOnly": false,
              "classPropertiesAllowed": false
            }
        ]
    }
}